<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/order.css" type="text/css" />
  <link rel="stylesheet" href="/styles/all.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/orders.js"></script>

  <!-- External fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">


  <title>Document</title>

</head>
<body>

  <!--Imported nav bar-->
  <% if (logged===1) { %>
    <%- include('partials/_nav_user') %>
  <% } else { %>
    <%- include('partials/_nav_guest') %>
  <% } %>
  <!--Pager header with menu type (starters, mains, etc.)-->

  <div id="outer-container">

    <main>

        <!-- <% for (let key of Object.keys(orderInfo)) {%>
          <article class="order">
            <div class="order-header">
              <div class="order-num">Order ID: <%= key %></div>
              <div class="order-status <%= orderInfo[key].status %>"><%= orderInfo[key].status %></div>
            </div>
            <div class="order-body">
              <div class="order-date">
                <%= orderInfo[key].time %>
              </div>
              <ul>
                <% for (let dish of orderInfo[key].dishes) {%>
                  <li><%= dish.name %> x <%= dish.quantity %></li>
                <% } %>
              </ul>
              <div class="order-total">Total: $<%= orderInfo[key].totalPrice %>.00</div>
            </div>
          </article>
        <% } %> -->

     
    </main>

  </div>




</body>
</html>
