<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/order.css" type="text/css" />
  <link rel="stylesheet" href="/styles/all.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


  <title>Document</title>

</head>
<body>

  <!--Imported nav bar-->
  <%- include('partials/_nav') %>
  <!--Pager header with menu type (starters, mains, etc.)-->

  <div id="outer-container">

    <main>

        <% for (let key of Object.keys(orderInfo)) {%>
          <article class="order">
            <div class="order-header">
              <div class="order-num">#<%= key %></div>
              <div class="order-status <%= orderInfo[key].status %>"><%= orderInfo[key].status %></div>
            </div>
            <div class="order-body">
              <div class="order-date">
                <%= orderInfo[key].time %>
              </div>
              <ul>
                <% for (let dish of orderInfo[key].dishes) {%>
                  <li><%= dish.name %> x <%= dish.quantity %></li>
                <% } %>
              </ul>
              <div class="order-total">$<%= orderInfo[key].totalPrice %>.00</div>
            </div>
          </article>
        <% } %>

      </section>
    </main>

  </div>




</body>
</html>
